@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap/scss/_functions';
@import 'node_modules/bootstrap/scss/_variables';
@import 'node_modules/bootstrap/scss/_mixins';

@import 'variables';

@include media-breakpoint-down(xs) {
    .photo-search-container img {
        width: 150px !important;
        height: 150px !important;
        
        margin-bottom: 1rem;
    }
}

@include media-breakpoint-down(sm) { }


.photo-search-container img {
    width: 300px;
    height: 300px;
}

#alert {
    display: none;
}